footer h3 {
  color: #2483d1;
  font-size: 2.5rem;
  text-align: center;
}

footer p {
  margin-top: 1rem;
}

.contactContainer {
  display: flex;
  margin-top: 2rem;
}

.emailBtn,
.callBtn {
  background-color: black;
  width: 100%;
  min-width: fit-content;
  text-align: center;
  margin-right: 2rem;
  padding: 2rem;
  border-radius: 10px;
  max-width: 35rem;
}

.emailBtn:hover,
.callBtn:hover {
  cursor: pointer;
}

.callBtn {
  margin-top: 1rem;
}

.emailBtn a,
.callBtn a {
  color: #fff;
  text-decoration: none;
}

.socialsContainer {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.socialsContainer svg {
  font-size: 5rem;
}
.directContactContainer {
  width: 60%;
}

.socialsContainer,
.directContactContainer {
  margin-top: 2rem;
  margin: auto;
}

.accreditorContainer {
  margin-top: 2rem;
  text-align: center;
  font-size: 1rem;
}

.accreditorContainer img {
  margin-top: 2rem;
  width: 5rem;
  aspect-ratio: 1 / 1;
}

.smallPrint {
  text-align: center;
  font-size: 1.2rem;
}

.smallPrint a {
  color: #2483d1;
}
@media screen and (min-width: 991px) {
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    padding: 2rem;
  }

  footer h3 {
    grid-column: 1 / span 3;
    grid-row: 1;
  }

  .contactContainer {
    grid-row: 2;
    grid-column: 1 / span 2;
    max-width: 108rem;
  }

  .socialsContainer {
    display: block;
    margin-left: 11rem;
  }

  .directContactContainer {
    display: flex;
    flex-direction: column;
  }

  .directContactContainer p:first-of-type {
    font-size: 4rem;
    text-align: center;
  }

  .directContactContainer p:nth-child(2) {
    text-align: center;
  }

  .emailBtn,
  .callBtn {
    margin: 0 auto;
    margin-top: 2rem;
  }

  .socialsContainer svg {
    margin-right: 2rem;
  }

  iframe {
    max-height: 30rem;
  }

  .smallPrint {
    grid-column: 1 / span 3;
  }
}
