.galleryContainer {
  padding: 1rem;
  text-align: center;
}

.reveal {
  visibility: hidden;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin: 1rem 0;
}

.galleryContainer img {
  width: 100%;
  height: auto;
  display: block;
}

.imageDescription {
  position: absolute;
  inset: 0;
  background-color: rgba(36, 131, 209, 0.5);
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  top: 100%;
  overflow: hidden;
}

.bubblyButton {
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgb(36, 131, 209);
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(36, 131, 209, 0.5);
}
.bubblyButton:focus {
  outline: 0;
}
