.galleryContainer {
  padding: 1rem;
}

.reveal {
  visibility: hidden;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin: 1rem 0;
}

.galleryContainer img {
  width: 100%;
  height: auto;
  display: block;
}

.imageDescription {
  position: absolute;
  inset: 0;
  background-color: rgba(36, 131, 209, 0.5);
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  top: 100%;
  overflow: hidden;
}
