.st0 {
  fill: #2455a8;
}
.st1 {
  fill: #2c5ccb;
}
.st2 {
  fill: url(#rect7135_1_);
  stroke: #2c5ccb;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st3 {
  fill: none;
  stroke: #2c5ccb;
  stroke-width: 25;
}
.st4 {
  fill: url(#circle7157_1_);
  stroke: #2c5ccb;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st5 {
  fill: url(#circle7161_1_);
  stroke: #2c5ccb;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st6 {
  fill: none;
  stroke: #2c5ccb;
  stroke-width: 100;
}
.st7 {
  fill: none;
  stroke: #b5a739;
  stroke-width: 150;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st8 {
  fill: #113f94;
}
.st9 {
  fill: #d4d4d4;
}
.st10 {
  font-family: "MyriadPro-Regular";
}
.st11 {
  font-size: 57.6101px;
}
.st12 {
  fill: url(#circle7165_1_);
  stroke: #2c5ccb;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st13 {
  fill: url(#circle7149_1_);
  stroke: #2c5ccb;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st14 {
  fill: none;
  stroke: #000000;
}
.st15 {
  fill: #9a9a9a;
}
.st16 {
  fill: #a56600;
}
.st17 {
  fill: none;
  stroke: #2c5ccb;
  stroke-width: 50;
}
.st18 {
  fill: url(#circle7153_1_);
  stroke: #2c5ccb;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st19 {
  fill: #2c5ccb;
  fill-opacity: 0;
}
.st20 {
  fill: #18316d;
  stroke: #4274d6;
  stroke-width: 35;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st21 {
  fill: url(#rect4297_1_);
  stroke: #2c5ccb;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st22 {
  fill: url(#rect4317_1_);
  stroke: #2c5ccb;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st23 {
  fill: url(#rect4321_1_);
  stroke: #2c5ccb;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st24 {
  fill: url(#rect4325_1_);
  stroke: #2c5ccb;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st25 {
  fill: url(#rect4329_1_);
  stroke: #2c5ccb;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st26 {
  fill: url(#rect4333_1_);
  stroke: #2c5ccb;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st27 {
  fill: url(#rect4337_1_);
  stroke: #2c5ccb;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st28 {
  fill: url(#rect4341_1_);
  stroke: #2c5ccb;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st29 {
  fill: #5e5862;
  stroke: #2e2e2e;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st30 {
  fill: none;
  stroke: #d4d4d4;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st31 {
  fill: url(#rect4353_1_);
}
.st32 {
  fill: url(#rect4357_1_);
}
.st33 {
  fill: url(#rect4361_1_);
}
.st34 {
  fill: url(#rect4365_1_);
}
.st35 {
  fill: url(#rect4369_1_);
}
.st36 {
  fill: url(#rect4373_1_);
}
.st37 {
  fill: url(#rect4377_1_);
}
.st38 {
  fill: url(#rect4381_1_);
}
.st39 {
  fill: url(#rect7173_1_);
}
.st40 {
  fill: url(#rect7177_1_);
}
.st41 {
  fill: url(#rect4412_1_);
}
.st42 {
  fill: url(#rect4414_1_);
}
.st43 {
  fill: url(#rect4416_1_);
}
.st44 {
  fill: url(#rect4418_1_);
}
.st45 {
  fill: url(#rect4420_1_);
}
.st46 {
  fill: url(#rect4422_1_);
}
.st47 {
  fill: url(#rect4424_1_);
}
.st48 {
  fill: url(#rect4426_1_);
}
.st49 {
  fill: url(#rect4446_1_);
}
.st50 {
  fill: url(#rect4448_1_);
}
.st51 {
  fill: url(#rect4450_1_);
}
.st52 {
  fill: url(#rect4452_1_);
}
.st53 {
  fill: url(#rect4454_1_);
}
.st54 {
  fill: url(#rect4456_1_);
}
.st55 {
  fill: url(#rect4458_1_);
}
.st56 {
  fill: url(#rect4460_1_);
}
.st57 {
  fill: url(#rect4480_1_);
}
.st58 {
  fill: url(#rect4482_1_);
}
.st59 {
  fill: url(#rect4484_1_);
}
.st60 {
  fill: url(#rect4486_1_);
}
.st61 {
  fill: url(#rect4488_1_);
}
.st62 {
  fill: url(#rect4490_1_);
}
.st63 {
  fill: url(#rect4492_1_);
}
.st64 {
  fill: url(#rect4494_1_);
}
.st65 {
  fill: #5e5862;
  stroke: #434343;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st66 {
  font-family: "CourierNewPSMT";
}
.st67 {
  font-size: 90px;
}
.st68 {
  fill: url(#rect7099_1_);
  stroke: #2c5ccb;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st69 {
  fill: url(#path7139_1_);
  stroke: #2c5ccb;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st70 {
  fill: #f2f2f2;
}
.st71 {
  fill: #ffd187;
}
.st72 {
  fill: #fe9d00;
}
.st73 {
  fill: #2b2b2b;
}
.st74 {
  fill: #e4e4e4;
  stroke: #b5a739;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st75 {
  fill: #5e5862;
}
