* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
}

footer {
  background-color: #2d2f2e;
  color: #fff;
  padding: 2rem 2rem 0;
}

iframe {
  width: 100%;
  margin: 2rem auto 0;
  border-radius: 10px;
}
